# Attention, le code n'est pas complet

In [ ]:
from google.colab import drive
drive.mount("/content/drive")
import os 
os.chdir("./drive/MyDrive/Business Data Challenge/business-data-challenge/code/cleaning/")
!pip install rich

Mounted at /content/drive
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: rich in /usr/local/lib/python3.8/dist-packages (13.3.1)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.1.0 in /usr/local/lib/python3.8/dist-packages (from rich) (2.2.0)
Requirement already satisfied: typing-extensions<5.0,>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from rich) (4.5.0)
Requirement already satisfied: pygments<3.0.0,>=2.14.0 in /usr/local/lib/python3.8/dist-packages (from rich) (2.14.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.8/dist-packages (from markdown-it-py<3.0.0,>=2.1.0->rich) (0.1.2)

In [ ]:
DATA_DIR = "../../data/"
ZIP_DIR = f"{DATA_DIR}dvf.zip"

In [ ]:
import pandas as pd 
import zipfile
from rich import print
from pandas.core.frame import DataFrame
from typing import Tuple

In [ ]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [ ]:
def load_zip_dvf(zip_dir: str, year: int) -> DataFrame: 
    zf = zipfile.ZipFile(zip_dir) 
    file_name = f"dvf/{year}.csv"

    df = pd.read_csv(zf.open(file_name))
    return df 

df = load_zip_dvf(ZIP_DIR, year=2021)

<ipython-input-10-bb4de521fee2>:8: DtypeWarning: Columns (10,12,14,17,18,20,22,24,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  df = load_zip_dvf(ZIP_DIR, year=2021)

In [ ]:
df.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,ancien_code_commune,ancien_nom_commune,id_parcelle,ancien_id_parcelle,numero_volume,lot1_numero,lot1_surface_carrez,lot2_numero,lot2_surface_carrez,lot3_numero,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2021-1,2021-01-05,1,Vente,185000.0,5080.0,NaN,CHE DE VOGELAS,0471,1370.0,1426,Val-Revermont,1,NaN,NaN,01426312ZC0122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,97.0,5.0,S,sols,NaN,NaN,2410.0,5.386094,46.327140
1,2021-1,2021-01-05,1,Vente,185000.0,5080.0,NaN,CHE DE VOGELAS,0471,1370.0,1426,Val-Revermont,1,NaN,NaN,01426312ZC0122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0,DÃ©pendance,NaN,0.0,S,sols,NaN,NaN,2410.0,5.386094,46.327140
2,2021-2,2021-01-06,1,Vente,10.0,NaN,NaN,ROUGEMONT,B043,1290.0,1042,Bey,1,NaN,NaN,010420000A0204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,530.0,4.844368,46.224233
3,2021-3,2021-01-04,1,Vente,204332.0,7.0,NaN,ALL DES ECUREUILS,0276,1310.0,1065,Buellas,1,NaN,NaN,010650000B1325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,88.0,4.0,S,sols,NaN,NaN,866.0,5.157688,46.200988
4,2021-4,2021-01-06,1,Vente,320000.0,87.0,NaN,RTE DE CERTINES,0140,1250.0,1254,Montagnat,1,NaN,NaN,01254000AZ0011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0,DÃ©pendance,NaN,0.0,S,sols,NaN,NaN,1426.0,5.273260,46.156334

### Cleaning de la base dvf21

In [ ]:
def select_sales(df: DataFrame) -> DataFrame: 
    if "nature_mutation" not in df.columns: 
        raise ValueError("nature_mutation not in columns.")
    
    return df.loc[df.nature_mutation == "Vente", :] 
df_sales = select_sales(df)
df_sales.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,ancien_code_commune,ancien_nom_commune,id_parcelle,ancien_id_parcelle,numero_volume,lot1_numero,lot1_surface_carrez,lot2_numero,lot2_surface_carrez,lot3_numero,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2021-1,2021-01-05,1,Vente,185000.0,5080.0,NaN,CHE DE VOGELAS,0471,1370.0,1426,Val-Revermont,1,NaN,NaN,01426312ZC0122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,97.0,5.0,S,sols,NaN,NaN,2410.0,5.386094,46.327140
1,2021-1,2021-01-05,1,Vente,185000.0,5080.0,NaN,CHE DE VOGELAS,0471,1370.0,1426,Val-Revermont,1,NaN,NaN,01426312ZC0122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0,DÃ©pendance,NaN,0.0,S,sols,NaN,NaN,2410.0,5.386094,46.327140
2,2021-2,2021-01-06,1,Vente,10.0,NaN,NaN,ROUGEMONT,B043,1290.0,1042,Bey,1,NaN,NaN,010420000A0204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,530.0,4.844368,46.224233
3,2021-3,2021-01-04,1,Vente,204332.0,7.0,NaN,ALL DES ECUREUILS,0276,1310.0,1065,Buellas,1,NaN,NaN,010650000B1325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,88.0,4.0,S,sols,NaN,NaN,866.0,5.157688,46.200988
4,2021-4,2021-01-06,1,Vente,320000.0,87.0,NaN,RTE DE CERTINES,0140,1250.0,1254,Montagnat,1,NaN,NaN,01254000AZ0011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0,DÃ©pendance,NaN,0.0,S,sols,NaN,NaN,1426.0,5.273260,46.156334

In [ ]:
print(f"{df_sales.shape[0]} transactions associÃ©es Ã  des ventes \n{df_sales.id_mutation.unique().shape[0]} identifiants uniques de mutation")

4047675 transactions associÃ©es Ã  des ventes
1500963 identifiants uniques de mutation

In [ ]:
def remove_industrial_facilities(df: DataFrame) -> DataFrame: 
    if "code_type_local" not in df.columns: 
        raise ValueError("code_type_local not in columns.")
    
    return df.loc[
        (df.code_type_local >= 1) & 
        (df.code_type_local < 4), 
        :
    ] 
df_sales = remove_industrial_facilities(df_sales)
print(f"{df_sales.shape[0]} ventes d'appartements/maisons/dÃ©pendances")

2415588 ventes d'appartements/maisons/dÃ©pendances

In [ ]:
pd.crosstab(df_sales["type_local"], df_sales["code_type_local"], margins=True)

code_type_local     1.0     2.0      3.0      All
type_local
Appartement           0  605165        0   605165
DÃ©pendance            0       0  1030535  1030535
Maison           779888       0        0   779888
All              779888  605165  1030535  2415588

### Cleaning de la base dvf21

In [ ]:
# traitement des actes simples 
temp = df_sales.groupby("id_mutation").size()
not_duplicated = temp[temp==1].index.tolist()
not_duplicated

In [ ]:
mutations_simples = df_sales.loc[df_sales.id_mutation.isin(not_duplicated), :]
mutations_simples.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,ancien_code_commune,ancien_nom_commune,id_parcelle,ancien_id_parcelle,numero_volume,lot1_numero,lot1_surface_carrez,lot2_numero,lot2_surface_carrez,lot3_numero,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
3,2021-3,2021-01-04,1,Vente,204332.0,7.0,NaN,ALL DES ECUREUILS,0276,1310.0,1065,Buellas,1,NaN,NaN,010650000B1325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,88.0,4.0,S,sols,NaN,NaN,866.0,5.157688,46.200988
14,2021-9,2021-01-04,2,Vente,226700.0,173.0,NaN,CHE DU MOULIN DE POLAIZE,0164,1310.0,1301,Polliat,1,NaN,NaN,01301000AA0289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,96.0,3.0,NaN,NaN,NaN,NaN,NaN,5.108604,46.244066
15,2021-10,2021-01-08,1,Vente,185000.0,46.0,NaN,RUE DES GRANGES BONNET,0161,1960.0,1289,PÃ©ronnas,1,NaN,NaN,01289000AD0031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,100.0,4.0,S,sols,NaN,NaN,703.0,5.210226,46.187698
16,2021-11,2021-01-07,1,Vente,114500.0,179.0,NaN,RUE DE LA MAIRIE,0110,1340.0,1163,Foissiat,1,NaN,NaN,01163000AB0302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,85.0,2.0,S,sols,NaN,NaN,87.0,5.174845,46.368874
19,2021-13,2021-01-08,1,Vente,145000.0,8.0,NaN,IMP DE CHAMANDRE,0255,1340.0,1163,Foissiat,1,NaN,NaN,01163000WC0215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,92.0,1.0,S,sols,NaN,NaN,2480.0,5.200760,46.405032

In [ ]:
temp = df_sales.groupby("id_mutation").size()
duplica = temp[temp>1].index.tolist()
duplica

In [ ]:
mutations_complexes = df_sales.loc[df_sales.id_mutation.isin(duplica), :]
mutations_complexes.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,ancien_code_commune,ancien_nom_commune,id_parcelle,ancien_id_parcelle,numero_volume,lot1_numero,lot1_surface_carrez,lot2_numero,lot2_surface_carrez,lot3_numero,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2021-1,2021-01-05,1,Vente,185000.0,5080.0,NaN,CHE DE VOGELAS,0471,1370.0,1426,Val-Revermont,1,NaN,NaN,01426312ZC0122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,97.0,5.0,S,sols,NaN,NaN,2410.0,5.386094,46.327140
1,2021-1,2021-01-05,1,Vente,185000.0,5080.0,NaN,CHE DE VOGELAS,0471,1370.0,1426,Val-Revermont,1,NaN,NaN,01426312ZC0122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0,DÃ©pendance,NaN,0.0,S,sols,NaN,NaN,2410.0,5.386094,46.327140
4,2021-4,2021-01-06,1,Vente,320000.0,87.0,NaN,RTE DE CERTINES,0140,1250.0,1254,Montagnat,1,NaN,NaN,01254000AZ0011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3.0,DÃ©pendance,NaN,0.0,S,sols,NaN,NaN,1426.0,5.273260,46.156334
5,2021-4,2021-01-06,1,Vente,320000.0,87.0,NaN,RTE DE CERTINES,0140,1250.0,1254,Montagnat,1,NaN,NaN,01254000AZ0011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,168.0,5.0,S,sols,NaN,NaN,1426.0,5.273260,46.156334
7,2021-6,2021-01-04,1,Vente,176000.0,210.0,NaN,RUE GEORGE SAND,0820,1000.0,1344,Saint-Denis-lÃ¨s-Bourg,1,NaN,NaN,01344000AC0181,NaN,NaN,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,Appartement,71.0,3.0,NaN,NaN,NaN,NaN,NaN,5.200117,46.210292

In [134]:
def get_data_types(dataframe):
    ''''
    Renvoie tous les data types dans un pd df.
    '''
    return [str(dt) for dt in dataframe.dtypes.unique()]

get_data_types(df)

['object', 'int64', 'float64']

#### On teste deux fonctions diffÃ©rentes

In [130]:
def List_type(df: DataFrame, format: str):

  ''''
  fonction crÃ©ant une liste de toutes les variables de df Ã©tant Ã  un format particulier (ex. float64). 
  '''
  temp1 = df.dtypes
  temp2 = temp1.to_frame(name = 'Type')
  temp3 = temp2.loc[temp2['Type'] == {format}]
  data_top = temp3.head()
  result = list(data_top.index)
  return result

In [141]:
def get_variable_names(dataframe, data_type):
    """
    Returns a list of variable names in a Pandas DataFrame that match a given format string.
    """
    return [col for col in dataframe.columns if dataframe[col].dtype == data_type]

In [139]:
list_var_float = get_variable_names(df, 'float64')

AttributeError: ignored

#### On le fait a la mano en attendant

In [95]:
#
result = df.dtypes
result = result.to_frame(name = 'type')
quanti = result.loc[result['type'] == 'float64']
data_top = quanti.head()
quanti = list(data_top.index)
quanti
#
result = df.dtypes
result = result.to_frame(name = 'type')
quali = result.loc[result['type'] == 'object']
data_top = quali.head()
quali = list(data_top.index)
quali.remove('id_mutation')

In [97]:
# Application de la solution 4 sur les mutations dites complexes (cf. Coulondre, 2019)

var_quali = ['type_local', 'nature_mutation'] # add more here
for var in var_quali: 
  clean_quali = mutations_complexes.groupby(['id_mutation', 'valeur_fonciere'])[f'{var}'].apply(lambda x: ','.join(x)).reset_index()

var_quanti = ['nombre_lots','surface_reelle_bati'] # add more here
for var in var_quanti:
  clean_quanti = mutations_complexes.groupby(['id_mutation', 'valeur_fonciere'])[f'{var}'].sum()

In [ ]:
# Select columns and merge in a df 
mutations_complexes_clean = pd.merge(clean_quanti, clean_quali, on=['id_mutation'])
mutations_complexes_clean.head(10)

    id_mutation  surface_reelle_bati  valeur_fonciere    nature_mutation
0        2021-1                 97.0         185000.0        Vente,Vente
1      2021-100                232.0         140000.0        Vente,Vente
2     2021-1000                 86.0          72150.0        Vente,Vente
3    2021-10000                117.0         730000.0        Vente,Vente
4  2021-1000000                 39.0         141240.0  Vente,Vente,Vente
5  2021-1000001                 91.0         184000.0        Vente,Vente
6  2021-1000003                156.0         120000.0        Vente,Vente
7  2021-1000009                106.0         190000.0        Vente,Vente
8  2021-1000014                 70.0         628000.0  Vente,Vente,Vente
9  2021-1000015                 66.0         395000.0        Vente,Vente

In [107]:
print(f"la taille de la mutations_complexes avant Ã©tait {len(mutations_complexes)} et est maintenant de {len(mutations_complexes)}")

la taille de la mutations_complexes avant Ã©tait 1910045 et est maintenant de 1910045

In [ ]:
# Merge/append again with no_duplica since duplica has been treated
df_mutation_clean = mutations_simples.append(mutations_complexes_clean)
df_mutation_clean.head(10)

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,ancien_code_commune,ancien_nom_commune,id_parcelle,ancien_id_parcelle,numero_volume,lot1_numero,lot1_surface_carrez,lot2_numero,lot2_surface_carrez,lot3_numero,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
3,2021-3,2021-01-04,1.0,Vente,204332.0,7.0,NaN,ALL DES ECUREUILS,0276,1310.0,1065,Buellas,1,NaN,NaN,010650000B1325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,Maison,88.0,4.0,S,sols,NaN,NaN,866.0,5.157688,46.200988
14,2021-9,2021-01-04,2.0,Vente,226700.0,173.0,NaN,CHE DU MOULIN DE POLAIZE,0164,1310.0,1301,Polliat,1,NaN,NaN,01301000AA0289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,Maison,96.0,3.0,NaN,NaN,NaN,NaN,NaN,5.108604,46.244066
15,2021-10,2021-01-08,1.0,Vente,185000.0,46.0,NaN,RUE DES GRANGES BONNET,0161,1960.0,1289,PÃ©ronnas,1,NaN,NaN,01289000AD0031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,Maison,100.0,4.0,S,sols,NaN,NaN,703.0,5.210226,46.187698
16,2021-11,2021-01-07,1.0,Vente,114500.0,179.0,NaN,RUE DE LA MAIRIE,0110,1340.0,1163,Foissiat,1,NaN,NaN,01163000AB0302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,Maison,85.0,2.0,S,sols,NaN,NaN,87.0,5.174845,46.368874
19,2021-13,2021-01-08,1.0,Vente,145000.0,8.0,NaN,IMP DE CHAMANDRE,0255,1340.0,1163,Foissiat,1,NaN,NaN,01163000WC0215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,Maison,92.0,1.0,S,sols,NaN,NaN,2480.0,5.200760,46.405032
24,2021-14,2021-01-07,1.0,Vente,169600.0,153.0,NaN,CHE DES MILLETTES,0135,1160.0,1151,Druillat,1,NaN,NaN,011510000C0517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,Maison,98.0,4.0,S,sols,NaN,NaN,303.0,5.297663,46.069603
28,2021-16,2021-01-18,1.0,Vente,178600.0,745.0,NaN,RTE DES BAISSES,0027,1570.0,1159,Feillens,1,NaN,NaN,01159000AD0648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,Maison,110.0,4.0,S,sols,NaN,NaN,472.0,4.888266,46.344279
45,2021-20,2021-01-04,1.0,Vente,130000.0,68.0,NaN,LOT LES JACQUEMINS,A008,1370.0,1350,Saint-Ãtienne-du-Bois,1,NaN,NaN,013500000B1506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,Maison,51.0,2.0,S,sols,NaN,NaN,314.0,5.298291,46.284649
46,2021-21,2021-01-04,1.0,Vente,10000.0,32.0,NaN,AV DES ANCIENS COMBATTANTS,0231,1000.0,1053,Bourg-en-Bresse,1,NaN,NaN,01053000AE0286,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,DÃ©pendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5.214477,46.202725
59,2021-27,2021-01-11,1.0,Vente,150000.0,870.0,NaN,RUE DE MAJORNAS,0150,1440.0,1451,Viriat,1,NaN,NaN,01451000BI0213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,Maison,100.0,5.0,S,sols,NaN,NaN,385.0,5.216355,46.221904

In [ ]:
## TO DO/
# diffÃ©rentes vÃ©rifications Ã  faire 
# taille des df
# voir si on perd des id ou pas (on supp. des doublons donc on doit en perdre un minimum)